@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
    <h1 class="display-4">Empréstimos online</h1>
    <p class="">Bora assistir um bom filme no conforto da sua casa!</p>
    <div>
        <img src="/img/Filme.png" alt="Filme"/>
    </div>
</div>
